
html {
    scroll-behavior: smooth;
}


body {
    background-color: black;
}

#bot-body {
    background-color: black;
    font-family: 'Epilogue', sans-serif;
    color: white;
}

#m-col {
    margin-top: 4%;
    float: center;
    width: 100%;
    height: 40%;
}

#m-col p {
    width: 70%
}

#link-text {
    font-family: 'Epilogue', sans-serif;
    color: white;
}

#link-text:hover {
    background-color: #ddd;
    color: black;


}

.features-list {
    width: 50%;
}

.list-text {
    color: white;
}


#frontpage-image {
    position: absolute;
    right: 2%;
    top: 6%;
    width: 26vw;
    height:35vw;
    max-width: 60vw;
    max-height:60vw;
    transition: transform 250ms;
}

#frontpage-image:hover {
    transform: translateY(-10px);
}


.start {
    width: 500px;
    height: 460px;
    position: relative;
    margin: auto;
}


#hey {
    font-size: 35px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    text-align: center;
    top: 300px;
    right: 20px;
}

#name {
    font-size: 35px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    text-align: center;
    top: 290px;
    right: 20px;
}

#scroll {
    font-size: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    text-align: center;
    top: 290px;
}

.button {
    width: 50;
    height: 50;
    left: 860px;
    position: relative;
    top: -20px;
}

.button:hover{
    opacity: .5;

}

#twitter {
    right: 10px;

}

#youtube {
    right: 10px;

}






q {font-style: italic; color: white; font-family: 'Montserrat', sans-serif;}

.author {color: rgb(255, 255, 255); font-family: 'Montserrat', sans-serif;}


footer {
    position: fixed;
    bottom: 10;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
 }
